<link rel="stylesheet" href="/css/sign_up.css">


<h1> User Signup page</h1>
<!-- // sending the data so post -->
<form action="/users/create" method="POST">
       <!-- // type email is html5 element which will automatically validate -->
    <input type="text" name="name" placeholder="Your Name" required>
    <input type="email" name="email" placeholder="Your Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
    <input type="submit" value="Sign Up">
</form>

